<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="agent.msmartpay.in">

    <permission android:name="android.permission.ACCESS_FINE_LOCATION" android:protectionLevel="dangerous"/>
    <permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:protectionLevel="dangerous"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!-- TODO: Step 1.0, Review Permissions: Specify permissions you are using. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application
        android:name="agent.msmartpay.in.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="agent.msmartpay.in.aeps.AEPSActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="agent.msmartpay.in.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="agent.msmartpay.in.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.aeps.ActivateServiceActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.MainActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.plans.PlansActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.PrepaidMobileActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.PostpaidMobileActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.DthRechargeActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.DataCardRechargeActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.LandlinePayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.ElectricityPayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.GasPayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.WaterPayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.InsurancePayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.rechargeBillPay.SuccessDetailActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.helpAndSupport.HelpSupportActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.QRActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.helpAndSupport.AboutUsWebViewActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.QuickPayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.WalletHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.TransactionHistoryReceipt"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.TicketActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.TransactionSearchActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.TransSearchList"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.BalanceRequestActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.myWallet.MyEarningActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.ResetPasswordActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.OTPRegisterActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.RegisterComplete"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.MyProfile"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.BusBookingSearchActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.PnrDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.reportActivityExpand.BookingHistoryExpand"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.ConfirmTicketDetailsExpandable"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.SeatSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.CheckPnrStatusActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.TravellersDetailConfirmation"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="agent.msmartpay.in.busBooking.TravellersDetail"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="agent.msmartpay.in.busBooking.DetailsOfBusListActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.BusBookingSearchActivity_H"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.busBooking.BusBookingLeave"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.SenderVerifyRegisterActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.ImpsNeftTxnRecieptActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.MoneyTransferActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.ImpsNeftActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.TransactionReceiptActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.SenderFullHistoryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.AddBeneficiaryActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.Bank_name_search"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.SenderRegistrationActivity"
            android:parentActivityName="agent.msmartpay.in.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.moneyTransferNew.SenderHistoryActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.moneyTransferNew.RefundLiveStatusActivity" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightActivityTest"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightCity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightList"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.PassengerDetails"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.ConfirmFlightBooking"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightBookingSucces"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.flight.FlightPnrStatusActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="agent.msmartpay.in.hotelBooking.Testing"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.rechargeBillPay.BillPayActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.AddBeneficiaryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.Bank_name_search"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.ImpsNeftActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.ImpsNeftTxnRecieptActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.MoneyTransferActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.RefundLiveStatusActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.SenderFullHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.SenderHistoryActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.SenderRegistrationActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.SenderVerifyRegisterActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="agent.msmartpay.in.dmr2Moneytrasfer.TransactionReceiptActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>


        <activity android:name="agent.msmartpay.in.collectBanks.CollectBankActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service android:name="agent.msmartpay.in.location.GoogleService" />
        <service android:name="agent.msmartpay.in.location.LocationJobIntent"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="agent.msmartpay.in.location.LocationMonitoringService"/>
    </application>

</manifest>